<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>71492200532-tv9e9r69c1o1thjol2rp4jif7knq58ss.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.71492200532-tv9e9r69c1o1thjol2rp4jif7knq58ss</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>71492200532-1u45egtdanmjmb89umdvm233s1bql3cn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD0Uw5CgQ5pEqt2PJ6CIRYF7PEQ8LG_8cM</string>
	<key>GCM_SENDER_ID</key>
	<string>71492200532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amaguexpress.delivery</string>
	<key>PROJECT_ID</key>
	<string>amaguexpress-63da5</string>
	<key>STORAGE_BUCKET</key>
	<string>amaguexpress-63da5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71492200532:ios:0e380767258d669b1925c1</string>
</dict>
</plist>